*, *:before, *:after {
    box-sizing: border-box;
}
body {
    width: 100%;
    background: black;
    overflow: hidden;
    position: relative;
}
.soundtreck {
    position: absolute;
    top: 25px;
    right: 25px;
    opacity: 0.5;
}
.wrapper {
    display: flex;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    perspective: 450px;
    font-family: Roboto;
}
.scroll-text {
    font-size: 200%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    color: gold;
    text-align: justify;
    animation-name: scroll;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
    
}
h1, h2 {
    text-align: center;
}
@keyframes scroll {
    0% {transform: translate3d(0, 50vh, 0) rotateX(20deg)}
    90% {opacity: 1;
    }
    100% {
        transform: translate3d(0, -400px, -400px ) rotateX(40deg); 
        opacity: 0;
    }


}